<div class="row p-2">
 
    <div class="col-4">
        <div class="d-grid gap-2"><button class="btn btn-secondary" [routerLink]="['/cliente']" routerLinkActive="active" >CLIENTE</button></div>
    </div> 
    <div class="col-4">
        <div class="d-grid gap-2"><button class="btn btn-secondary " [routerLink]="['/banco']" routerLinkActive="active" >BANCO</button></div>
    </div> 
    

</div>

<div class="row">
    <div class="col-12">
        <div class="card text-white mb-3">
            <div class="card-header  bg-primary text-center" >REGISTRO DE CUENTA BANCO</div>
            <div class="card-body text-black">
 
                <div class="row justify-content-center align-items-center pb-5">
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                        <div class="col-md-12">
                          <label for="id" class="form-label">ID Cuenta</label>
                          <input [(ngModel)]="cuenta.ID" type="text" class="form-control" id="id" required="">
                        </div>
                        
                        <div class="col-md-12">
                          <label for="date" class="form-label">Fecha</label>
                          <input [(ngModel)]="cuenta.DATES" type="date" class="form-control" id="date" required="">
                        </div>
                        
                        <div class="col-md-12">
                          <label for="descr" class="form-label">Descripcion</label>
                          <input [(ngModel)]="cuenta.DESCR" type="text" class="form-control" id="descr" required="">
                        </div>
                        
                        <div class="col-md-12">
                          <label for="cliente" class="form-label">Cliente</label>
                          <input [(ngModel)]="cuenta.ID_CLIENT" type="text" class="form-control" id="cliente" required="">
                        </div>
                        
                        <div class="col-md-12">
                          <label for="type" class="form-label">Tipo de transaccion</label>
                          <input [(ngModel)]="cuenta.TYPE" min="1" max="2" minlength="1" maxlength="2" type="text" class="form-control" id="type" required="">
                        </div>
                        
                        <div class="col-md-12">
                          <label for="debt" class="form-label">Debito</label>
                          <input [(ngModel)]="cuenta.DEBT" type="number" class="form-control" id="debt" required="">
                        </div>
                        
                        <div class="col-md-12">
                          <label for="cred" class="form-label">Credito</label>
                          <input [(ngModel)]="cuenta.CRED" type="number" class="form-control" id="cred" required="">
                        </div>
                        
                        <div class="col-md-12">
                          <label for="balance" class="form-label">Balance</label>
                          <input [(ngModel)]="cuenta.BALANCE" type="number" class="form-control" id="balance" required="">
                        </div>
                        
 
                        <div class="col-12 pt-2"> 
                          <button type="submit" class="btn btn-primary" (click)="crearCuentaBanco()" >Registrar</button>
                        </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>

  <div class="row">
    <div class="col-12 text-black">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>DATE</th>
                    <th>DECRIPCION</th>
                    <th>ID_CLIENTE</th>
                    <th>TYPE</th>
                    <th>DEBT</th>
                    <th>CRED</th>
                    <th>BALANCE</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cuenta of cuentas">
                    <td>{{cuenta.ID}}</td>
                    <td>{{cuenta.DATES}}</td>
                    <td>{{cuenta.DESCR}}</td>
                    <td>{{cuenta.ID_CLIENT}}</td>
                    <td>{{cuenta.TYPE}}</td>
                    <td>{{cuenta.DEBT}}</td>
                    <td>{{cuenta.CRED}}</td>
                    <td>{{cuenta.BALANCE}}</td> 
                    <td> 
                        <button 
                           (click)="modificarCuenta(cuenta)"
                            class="btn btn-primary btn-sm" data-bs-toggle="modal" 
                            data-bs-target="#exampleModal"> <span> <i class="fas fa-user-edit"></i> </span> </button>
                        <button  
                        (click)="eliminarCuenta(cuenta)"
                        class="btn btn-danger btn-sm"> <span> <i class="fas fa-trash"></i> </span> </button>
                </td>
                </tr>
            </tbody>
          </table>
    </div>
</div> 

 
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EDITAR CUENTA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


            <div class="row justify-content-center align-items-center pb-5">
                <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                    <div class="col-md-12">
                      <label for="id" class="form-label">ID Cuenta</label>
                      <input disabled [(ngModel)]="cuentaSeleccionada.ID" type="text" class="form-control" id="id" required="">
                    </div>
                    
                    <div class="col-md-12">
                      <label for="date" class="form-label">Fecha</label>
                      <input [(ngModel)]="cuentaSeleccionada.DATES" type="date" class="form-control" id="date" required="">
                    </div>
                    
                    <div class="col-md-12">
                      <label for="descr" class="form-label">Descripcion</label>
                      <input [(ngModel)]="cuentaSeleccionada.DESCR" type="text" class="form-control" id="descr" required="">
                    </div>
                    
                    <div class="col-md-12">
                      <label for="cliente" class="form-label">Cliente</label>
                      <input [(ngModel)]="cuentaSeleccionada.ID_CLIENT" type="text" class="form-control" id="cliente" required="">
                    </div>
                    
                    <div class="col-md-12">
                      <label for="type" class="form-label">Tipo de transaccion</label>
                      <input [(ngModel)]="cuentaSeleccionada.TYPE" min="1" max="1" minlength="1" maxlength="1" type="text" class="form-control" id="type" required="">
                    </div>
                    
                    <div class="col-md-12">
                      <label for="debt" class="form-label">Debito</label>
                      <input [(ngModel)]="cuentaSeleccionada.DEBT" type="number" class="form-control" id="debt" required="">
                    </div>
                    
                    <div class="col-md-12">
                      <label for="cred" class="form-label">Credito</label>
                      <input [(ngModel)]="cuentaSeleccionada.CRED" type="number" class="form-control" id="cred" required="">
                    </div>
                    
                    <div class="col-md-12">
                      <label for="balance" class="form-label">Balance</label>
                      <input [(ngModel)]="cuentaSeleccionada.BALANCE" type="number" class="form-control" id="balance" required="">
                    </div>
 
                </div>
              </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editarInformacionCuenta()">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div> 